@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
.navbar {
    background-color: black;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    opacity: 70%;

}


.navbar-brand {
    font-size: xx-large;
    position: relative;
    margin-right: 35%;
    margin-left: 0%;
    font-family: 'Ysabeau Infant', sans-serif;
}

.navbar-brand img {
    width: 9%;
    position: relative;
    bottom: 4px;
    margin-right: 1px;

}
.navbar a {
    color: #fdd017;
}

.navbar ul {
    background-color: black;
}

.navbar :hover {
    color: lightyellow;
}

.dropdown-menu a:hover {
    color: black;
}

.dropdown-menu {
    text-align: start;
}

.navbar a:active {
    color: lightyellow;
}



.carousel-inner {
    height: 100vh;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    height: 100vh;

}

.services h3 {
    padding: 1%;
    text-align: center;
    background-color: black;
    color: #fdd017;
    opacity: 80%;
}



/* .service-deatails {
    width: 38%;
    display: inline-block;
    border-radius: 14px;
    border: 3px solid black;
    border-left: 15px solid black;
    padding: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    margin: 2% 0% 0% 8%;
    position: relative;
    overflow: hidden;

}

.service-deatails:hover {
    color: #fdd017;



}
.service-deatails::before{
    content: "";
    position:absolute;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    background-color: black;
    transition: 1.2s;
    bottom: 0;
    border-radius: 50% 50% 0 0;

}
.service-deatails:hover::before
{
    height: 200%;
} */

.servicess {
    background-color: transparent;
    width: 300px;
    height: 420px;
    perspective: 1000px;
    margin: 50px;
    display: inline-block;
    

  }
  .allservices
  {
    background-image: url('images/background-serv.jpg');
    display: smooth;
  }
 
  
  .servicess-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
  }
  
  .servicess:hover .servicess-inner {
    transform: rotateY(180deg);
  }
  
  .servicess-front, .servicess-back {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 100px;
  }
  
  .servicess-front {
    background-color: #fdd017;
    color: black;
    margin-bottom: 120px;
    font-family: 'Rakkas', cursive;

  }

  .servicess-front h1{
    font-family: 'Rakkas', cursive;   
  }
  
  
  .servicess-back {
    background-color: rgba(0,0,0,0.8);
    color: #fdd017;
    transform: rotateY(180deg);
    font-size: 29px;
    font-family: 'Yatra One', cursive;
    font-family: 'Ubuntu', sans-serif;
    
  }
  .font-services
  {
    font-size: 18px;
    font-family: Garamond, serif;
  }

.contact h3 {
    padding: 1%;
    text-align: center;
    background-color: black;
    color: #fdd017;
    opacity: 80%;
}

.contact .col-sm-10 {
    
    border: 4px rgba(155, 125, 125, 0.316) solid;
    border-radius: 10px;
    background-color: black;
    opacity: .8;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    color: #fdd017;
}

.secondary-deatails {
    width: 40%;
    display: inline-block;
    border: 4px rgba(155, 125, 125, 0.316) solid;
    border-radius: 10px;
    background-color: black;
    opacity: .8;
    text-align: center;
    color: #fdd017;
}
#mobile
{
    margin-left: 10%;
}


.contact {
    background-color: black;
    opacity: .8;
    align-items: center;
}
.footer
{
    padding: 15px;
    align-items: end;
}
.fa-instagram
{
    margin-left: 89%;
    margin-right: .5%;
    display: inline-block;
}

.fa-brands:hover
{
    color: #fdd017;
}
/* About Page CSS */
.about
{
    padding: 40px;
    text-align: justify;
    font-size: x-large;
    font-family: 'Roboto Slab', serif;
    font-size: 21px;
    
}
.about img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
}
.about span
{
    font-family: 'Cinzel', serif;
    font-size: 40px;
}
.about span span
{
    font-family: 'Cinzel', serif;
    font-size: 30px;   
}

@media (max-width:650px) {
    
    .secondary-deatails {
    
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    border: 4px rgba(155, 125, 125, 0.316) solid;
    border-radius: 10px;
    background-color: black;
    opacity: .8;
    text-align: center;
    color: #fdd017;
    }
    .contact .col-sm-10
    {
        margin-top: 0px;
    }
    .dropdown-menu {
        text-align: center;
    }
    .service-deatails
    {
        display: block;
        width: 70%;
        margin: 5% 15%;
    }
    .servicess-inner
    {
        margin-left: 50%;
    }

}
@media (min-width:650px) and (max-width:809px)
{
    .servicess-inner
    {
        margin-left: 50%;
    }
  
}
@media (min-width:810px) and (max-width:890px){
    .servicess-inner
    {
        margin-left: 25%;
    }
}
@media (min-width:810px) and (max-width:1369px)
{
   
    .servicess-inner
    {
        margin-left: 10%;
    }
}
@media (min-width:1370px)
{
    .first-one
    {
      margin-left: 200px;
    }
}

@media (min-width:650px) and (max-width:990px)
{
    .dropdown-menu {
        text-align: center;
    }
    /* .navbar-brand
    {
        margin-right: 40%;
    } */
}
@media (max-width:650px){
    .servicess-inner
    {
        margin-left: 0%;
    }
   


}
@media (max-width:700px){
    .fa-instagram{
        margin-left: 80%;
    }
}

/* @media screen and (max-width:1310px) {
    .navbar-brand {
        margin-right: 20%;
    }

} */


/* Services Page */
.hidden-deatails
{
    display: none;
    position: absolute;
    
}

.main-services:hover .hidden-deatails {
    display:block;
    position: absolute;
    z-index: 2;

    border: 3px solid black;
    border-radius: 25px;
    background-color: #fdd017;
    color: black;
    font-weight: 35px;
    font-size:  18px;
    
}
.main-services:hover {
    color: orange;
}
.incometax:hover .hidden-deatails
{
    display: block;
    position: absolute;
    margin-left: 130px;

}
.gst:hover .hidden-deatails
{
    display: block;
    position: absolute;
    margin-left: 60px;

}
.tds:hover .hidden-deatails
{

    margin-left: 250px;

}
.as:hover .hidden-deatails
{

    margin-left: 250px;

}
.cfa:hover .hidden-deatails
{
    margin-left: 250px;
}
.os:hover .hidden-deatails
{
    margin-left: 250px;
}
.main-services
{   
    font-family: 'Ubuntu', sans-serif;
    padding-top: 18px;
}
.services-list h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    font-weight: bolder;
}
.main-services h3{
    font-size: 30px;
    /* font-weight: bold; */
}
.note
{
    text-align: right;
    margin-right: 30px;
    font-style: italic;
}

/* Contact Page */
.personal-deatails img{
    width: 230px;
    padding: 20px;
    display: inline-block;
}
.personal-deatails
{
    margin: 60px;
    border: solid 3px black;
    border-radius: 35px;
    text-align: center;
   
}
/* .contact_page{
    background-image: url('images/background-serv.jpg');
} */
 /* .personal-info{
    text-align: center;
    /* display: inline-block; */
  */
.personal-deatails h1{ 
    font-size: 30px;
    font-weight: 60px;
    display: inline-block;
}